<!-- partials/navbar.html -->
<header class="navbar">
  <div class="container navbar-container">
    <a href="./index.html" class="logo">ALCHEMIST SOUND</a>
    <nav class="nav-links">
      <a href="./index.html" class="nav-link">Главная</a>
      <a href="./index.html#services" class="nav-link">Услуги</a>
      <a href="./index.html#contact" class="nav-link">Контакты</a>
    </nav>
    <div class="mobile-menu-toggle" id="mobile-menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Мобильное меню (изначально скрыто) -->
  <div class="mobile-menu" id="mobile-menu">
    <a href="./index.html" class="mobile-nav-link">Главная</a>
    <a href="./index.html#services" class="mobile-nav-link">Услуги</a>
    <a href="./index.html#contact" class="mobile-nav-link">Контакты</a>
  </div>
</header>